<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (product(); as productRef) {
      <div>
        <h2 data-cy="productDetailsHeading"><span jhiTranslate="myApp.product.detail.title">Product</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ productRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.product.code">Code</span></dt>
          <dd>
            <span>{{ productRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.product.name">Name</span></dt>
          <dd>
            <span>{{ productRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.product.price">Price</span></dt>
          <dd>
            <span>{{ productRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.product.productCategory">Product Category</span></dt>
          <dd>
            @if (product()!.productCategory) {
              <div>
                <a [routerLink]="['/product-category', product()!.productCategory?.id, 'view']">{{ productRef.productCategory?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/product', productRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
