<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (address(); as addressRef) {
      <div>
        <h2 data-cy="addressDetailsHeading"><span jhiTranslate="myApp.address.detail.title">Address</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ addressRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.address.houseNumber">House Number</span></dt>
          <dd>
            <span>{{ addressRef.houseNumber }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.address.street">Street</span></dt>
          <dd>
            <span>{{ addressRef.street }}</span>
          </dd>
          <dt><span jhiTranslate="myApp.address.country">Country</span></dt>
          <dd>
            <span>{{ addressRef.country }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Quay lại</span>
        </button>

        <button type="button" [routerLink]="['/address', addressRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Sửa</span>
        </button>
      </div>
    }
  </div>
</div>
